<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl h-auto sm:py-16 lg:px-6">
    <div class="max-w-screen-md mb-8 lg:mb-16">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
        News list
      </h2>
      <p class="text-gray-500 sm:text-xl dark:text-gray-400">Our news list</p>
    </div>
    <div class="md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 gap-5">
      <!-- change here -->
      <div class="mb-5">
        <div
          class="flex justify-center items-center mb-4 w-full h-full rounded-full bg-primary-100 lg:h-full lg:w-full dark:bg-primary-900">
          <img src="../../../assets/global-worming.webp" alt="" />
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Legal</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Protect your organization, devices and stay compliant with our
          structured workflows and custom permissions made for you.
        </p>
      </div>
      <!-- change here -->
      <div class="mb-5">
        <div
          class="flex justify-center items-center mb-4 w-full h-full rounded-full bg-primary-100 lg:h-full lg:w-full dark:bg-primary-900">
          <img src="../../../assets/global-worming.webp" alt="" />
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Legal</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Protect your organization, devices and stay compliant with our
          structured workflows and custom permissions made for you.
        </p>
      </div>
      <!-- change here -->
      <div class="mb-5">
        <div
          class="flex justify-center items-center mb-4 w-full h-full rounded-full bg-primary-100 lg:h-full lg:w-full dark:bg-primary-900">
          <img src="../../../assets/global-worming.webp" alt="" />
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Legal</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Protect your organization, devices and stay compliant with our
          structured workflows and custom permissions made for you.
        </p>
      </div>
      <!-- change here -->
      <div class="mb-5">
        <div
          class="flex justify-center items-center mb-4 w-full h-full rounded-full bg-primary-100 lg:h-full lg:w-full dark:bg-primary-900">
          <img src="../../../assets/global-worming.webp" alt="" />
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Legal</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Protect your organization, devices and stay compliant with our
          structured workflows and custom permissions made for you.
        </p>
      </div>
      <!-- change here -->
      <div class="mb-5">
        <div
          class="flex justify-center items-center mb-4 w-full h-full rounded-full bg-primary-100 lg:h-full lg:w-full dark:bg-primary-900">
          <img src="../../../assets/global-worming.webp" alt="" />
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Legal</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Protect your organization, devices and stay compliant with our
          structured workflows and custom permissions made for you.
        </p>
      </div>
      <!-- change here -->
      <div class="mb-5">
        <div
          class="flex justify-center items-center mb-4 w-full h-full rounded-full bg-primary-100 lg:h-full lg:w-full dark:bg-primary-900">
          <img src="../../../assets/global-worming.webp" alt="" />
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Legal</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Protect your organization, devices and stay compliant with our
          structured workflows and custom permissions made for you.
        </p>
      </div>
    </div>
  </div>
</section>
