<section class="bg-white dark:bg-gray-900 h-auto">
  <div class="py-8 px-4 mx-auto max-w-screen-xl h-auto sm:py-16 lg:px-6">
    <div class="max-w-screen-md mb-8 lg:mb-16">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
        COP28 THEMATIC DAY 7 SUMMARY
      </h2>
      <p class="text-gray-500 sm:text-xl dark:text-gray-400">
        Cities are estimated to be responsible for 75% of greenhouse gas
        emissions and tackling climate change alongside urbanization, transport,
        and built environment is key to meeting the Paris Agreement.
      </p>
    </div>
    <div class="md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 gap-5">
      <!-- change here -->
      <div class="mb-5">
        <div
          class="flex justify-center items-center mb-4 w-full h-full rounded-full bg-primary-100 lg:h-full lg:w-full dark:bg-primary-900">
          <img src="../../../assets/global-worming.webp" alt="" />
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">
          COP28 THEMATIC DAY 6 SUMMARY
        </h3>
        <p class="text-gray-500 dark:text-gray-400">
          The Global Stocktake (GST) technical synthesis report released in
          September 2023 highlighted the rapidly-closing window to reduce
          emissions by 43% by 2030 compared to 2019 levels for a 50% chance to
          limit warming to 1.5°C.
        </p>
      </div>
      <!-- change here -->
      <div class="mb-5">
        <div
          class="flex justify-center items-center mb-4 w-full h-full rounded-full bg-primary-100 lg:h-full lg:w-full dark:bg-primary-900">
          <img src="../../../assets/global-worming.webp" alt="" />
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">
          COP28 THEMATIC DAY 5 SUMMARY
        </h3>
        <p class="text-gray-500 dark:text-gray-400">
          Finance, Trade, Gender Equality & Accountability Day helped turn
          ambitions into accountable actions and unlocked climate finance
          opportunities for all, by mobilizing private and public funds and
          leveraging trade.
        </p>
      </div>
      <!-- change here -->
      <div class="mb-5">
        <div
          class="flex justify-center items-center mb-4 w-full h-full rounded-full bg-primary-100 lg:h-full lg:w-full dark:bg-primary-900">
          <img src="../../../assets/global-worming.webp" alt="" />
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">
          COP28 THEMATIC DAY 4 SUMMARY
        </h3>
        <p class="text-gray-500 dark:text-gray-400">
          The first-ever Health Day in COP history showed the COP28 Presidency's
          commitment to holistic action addressing humanity's priorities.
        </p>
      </div>
      <!-- change here -->
      <div class="mb-5">
        <div
          class="flex justify-center items-center mb-4 w-full h-full rounded-full bg-primary-100 lg:h-full lg:w-full dark:bg-primary-900">
          <img src="../../../assets/global-worming.webp" alt="" />
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">
          FIRST GLOBAL STOCKTAKE HIGH- LEVEL COMMITTEE SUMMARY OF HIGH-LEVEL
          EVENTS
        </h3>
        <p class="text-gray-500 dark:text-gray-400">
          Three High-Level events (on Adaptation, Means of Implementation and
          Mitigation respectively) were held on the Ist and 2nd December 2023,
          chaired by the first global stocktake (GST) High-Level Committee
          (HLC), consisting of the COP 27 and COP 28 Presidencies of the CMA,
          and the Chairs of the Subsidiary Body for Scientific and Technological
          Advice (SBSTA) and the Subsidiary Body for Implementation (SBI)
        </p>
      </div>
      <!-- change here -->
      <div class="mb-5">
        <div
          class="flex justify-center items-center mb-4 w-full h-full rounded-full bg-primary-100 lg:h-full lg:w-full dark:bg-primary-900">
          <img src="../../../assets/global-worming.webp" alt="" />
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">
          COP28 WORLD CLIMATE ACTION SUMMIT PRESIDENCY SUMMARY
        </h3>
        <p class="text-gray-500 dark:text-gray-400">
          Un | and 2 December, 1/6 world leaders gathered for the World Climate
          Action Summit (WCAS), signaling a new era of climate action on the
          road to 2030. in a complex world, the WCAS provided an opportunity for
          the international community to unite behind a shared commitment for
          more expansive and urgent climate action in response to the Paris
          Agreement's first Global Stocktake.
        </p>
      </div>
      <!-- change here -->
      <div class="mb-5">
        <div
          class="flex justify-center items-center mb-4 w-full h-full rounded-full bg-primary-100 lg:h-full lg:w-full dark:bg-primary-900">
          <img src="../../../assets/global-worming.webp" alt="" />
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">
          BRINGING THE WORLD TOGETHER
        </h3>
        <p class="text-gray-500 dark:text-gray-400">
          COP28 is where urgency meets hope. Where the gap between ambition and
          action may be closed - with meaningful, practical and pragmatic
          solutions. COP28 brings the world together at a pivotal, consequential
          moment - to shape our collective commitment to climate action and to
          meet the globally agreed warming limit of 1.5°C. With tangible actions
          and credible solutions, COP28 can serve as a springboard to fast track
          the energy transition, fix climate finance, focus on nature, lives and
          livelihoods and foster a more inclusive process. It’s time to unite,
          act and deliver.
        </p>
      </div>
    </div>
  </div>
</section>
